.home-img-landhuis-transparent {
    max-width: 80%;
    margin-left: 10%;
}

.home-img-welcome-to-jamjam {
    position: absolute;
    right: 0;
    margin-right: 10%;
    top: 0;
    margin-top: calc(56px + 5%);
    max-width: 25%;
}

.home-img-jam-of-landhuys {
    position: absolute;
    right: 0;
    margin-right: 10%;
    max-width: 25%;
    margin-top: 15%
}

.slides-environment {

    max-width: 80%;
    margin-left: 10%;
    border-radius: 10px;

    .slide-environment {

        max-height: 250px;
    
        .image-environment {
            max-height: 250px;
            object-fit: fill !important;
            border-radius: 10px;
        }
    
    }

}

.button-slides {
    position: absolute;
    top: 45%;
    max-width: 20% !important;
}

.button-slides-prev {
    left: 0;
}

.button-slides-next {
    right: 0;
}

@media (max-width: 540px) {

    .slides-environment {
        .slide-environment {

            max-height: 60vh;
            height: 60vh;

            .image-environment {
                min-height: 100%;
            }

        }
    }

}