<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <img class="home-img-landhuis-transparent" [src]="images.HOME_LANDHUIS_TRANSPARENT" />
  <img class="home-img-welcome-to-jamjam" [src]="images.HOME_WELCOME_TO_JAMJAM" />
  <img class="home-img-jam-of-landhuys" [src]="images.HOME_JAM_OF_LANDHUIS" />

  <ion-row>

    <ion-button class="button-slides button-slides-prev" fill="clear" (click)="slides.slidePrev()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-button class="button-slides button-slides-next" fill="clear" (click)="slides.slideNext()">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>

    <ion-slides class="slides-environment" pager="false" [options]="sliderOptions" #slides>
      <ion-slide class="slide-environment" *ngFor="let environmentImage of environmentImages">
        <img class="image-environment" [src]="environmentImage.url" />
      </ion-slide>
    </ion-slides>

  </ion-row>

</ion-content>

<ion-footer>
  <ion-button>
    <ion-icon name="thumbs-up-outline"></ion-icon>
    <ion-label>Like</ion-label>
  </ion-button>
  <ion-button>
    <ion-label>Share</ion-label>
  </ion-button>
</ion-footer>
